<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Modify User</h3>

<div style="margin-right: 50%;">
    <form action="" method="post" name="result">
        Team Title: {{ result[0] }}<br>
        <label for="name">id:</label>
        <input type="text" id="id" name="id" placeholder="id", value= {{ result[0] }}>
        <br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="name" value={{result[1]}}>
        <br>
        <label for="email">email:</label>
        <input type="text" id="email" name="email" placeholder="email", value= {{ result[2] }}>
        <br>
        <label for="review">review:</label>
        <input type="text" id="review" name="review" placeholder="review", value= {{ result[3] }}>
        <br>
        <input class="btn btn-success" type="Submit" value="Update"></input>
</div>

</body>
</html>